{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "array-func",
        "node",
        "optimize-regex",
        "promise"
    ],

    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },

    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },

    "settings": {
        "node": {
            "tryExtensions": [
                ".js",
                ".json",
                ".ts"
            ]
        }
    },

    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/no-explicit-any": "off"
    }
}
