*.dat
*.gz
*.log
*.out
*.pid
*.sublime-project
*.sublime-workspace
*.tmp
*.zip
.cache/
.DS_Store
.idea/
.nyc_output/
.sass-cache/
/.project
/build
/config
/coverage
/profiles

/tools/profiles
atlassian-ide-plugin.xml
bower_components/
node_modules/
npm-debug.log
Thumbs.db
