*.log
*.dat
*.out
*.pid
*.gz
*.zip
*.tmp
.DS_Store
Thumbs.db

node_modules/
bower_components/
npm-debug.log

.cache/
.sass-cache/
.nyc_output/

.idea/
/.project
atlassian-ide-plugin.xml
*.sublime-project
*.sublime-workspace

/config
/coverage
/build
