*.log
*.dat
*.out
*.pid
*.gz
*.zip
*.tmp
.DS_Store
Thumbs.db

node_modules/
npm-debug.log

.cache/
.sass-cache/
.nyc_output

.idea/
/.project
atlassian-ide-plugin.xml
*.sublime-project
*.sublime-workspace

/build/
/docs/
/test/
/tools/
/coverage/
