*.dat
*.gz
*.log
*.out
*.pid
*.sublime-project
*.sublime-workspace
*.tmp
*.zip
.cache
.DS_Store
.github
.idea
.nyc_output
.project
.sass-cache
/src/tests
build
coverage
docs
node_modules
profiles
test-result*.json
Thumbs.db
tools
