*.dat
*.gz
*.log
*.out
*.pid
*.sublime-project
*.sublime-workspace
*.tmp
*.zip
.cache/
.DS_Store
.idea/
.nyc_output
.sass-cache/
/.project
/build/
/coverage/
/docs/
/test/
/tools/
atlassian-ide-plugin.xml
node_modules/
npm-debug.log
Thumbs.db
